@font-face {
    font-family: 'Amatic';
    src: url('../fonts/amatic-bold_[allfont.es].ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'asapregular';
    src: url('../fonts/asap-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/asap-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  height: 100vh;
  font-family: 'Chivo';
  color: #0B4F67;
}

main {
  flex: 0 0 auto;
  height: 90vh;
}

footer {
  background-color: #fafafa;
  flex: 1;
  padding: 1rem;
}

button {
	cursor: pointer;
	padding: 10px;
  box-shadow: 0px 0px 0px 2px #EB6D7F;
  border: 3px solid white;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0px 0px 5px 5px #EB6D7F;
}

button + button {
  margin-left: 5px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-family: 'Amatic';
  font-weight: 600;
}

.reveal p {
  line-height: 1.8rem;
  font-family: 'asapregular';
}

.reveal h1 {
  font-size: 6.3rem;
}

.reveal h2 {
  font-size: 6rem;
}

.reveal h3 {
  font-size: 4rem;
}

.animate {
  transform: translateY(-160%);
}
